<div class="container">
  <div class="row">
    <div class="card align-items-center generateCard">
      <div class="card-body">
        <h4 class="card-title text-warning-emphasis teamTitle">TEAM 1</h4>
        <ul class="list-group">
        {{#each randomTeams.finalTeamOne}}
          {{#if this.name}}
            <li class="list-group-item border border-warning-subtle rounded text-warning-emphasis playerGenerated">{{this.name}}</li>
          {{else}}
            <p class="text-warning-emphasis"><b>Rating: </b>{{this}}</p>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>

    <div class="card align-items-center generateCard">
      <div class="card-body">
        <h4 class="card-title text-warning-emphasis teamTitle">TEAM 2</h4>
        <ul class="list-group">
          {{#each randomTeams.finalTeamTwo}}
            {{#if this.name}}
              <li class="list-group-item border border-warning-subtle rounded text-warning-emphasis playerGenerated">{{this.name}}</li>
            {{else}}
              <p class="text-warning-emphasis"><b>Rating: </b>{{this}}</p>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div> 

  <a href="/team/{{id}}">
    <button type="button" class="btn btn-warning secondButton text-warning-emphasis generateButton">
      Back
    </button>
  </a>


  <form action="/team/{{id}}/starred" method="POST">
    {{#each randomTeams.finalTeamOne}}
      {{#if this.name}}
        <input hidden type="textarea" name="playerNameOne" value="{{this.name}}">
        <input hidden type="textarea" name="emailOne" value="{{this.email}}">
        <input hidden type="textarea" name="rateOne" value="{{this.rate}}">
      {{else}}
        <input hidden type="textarea" name="teamOneRate" value="{{this}}">
      {{/if}}
    {{/each}}
    {{#each randomTeams.finalTeamTwo}}
      {{#if this.name}}
        <input hidden type="textarea" name="playerNameTwo" value="{{this.name}}">
        <input hidden type="textarea" name="emailTwo" value="{{this.email}}">
        <input hidden type="textarea" name="rateTwo" value="{{this.rate}}">
      {{else}}
        <input hidden type="textarea" name="teamOneTwo" value="{{this}}">
      {{/if}}
    {{/each}}
    <button type="submit" class="btn btn-warning secondButton text-warning-emphasis generateButton">Save Team</button>
  </form>

</div>
