<div class="container">
  <div class="row">
    <div class="col align-items-center">
      <h2 class="text-success">Team 1</h2>
      <ul class="list-group">
      {{#each randomTeams.finalTeamOne}}
        {{#if this.name}}
          <li class="list-group-item border border-primary-subtle rounded">{{this.name}}</li>
        {{else}}
          Team Rate: {{this}}
        {{/if}}
      {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2 class="text-primary">Team 2</h2>
      <ul class="list-group">
      {{#each randomTeams.finalTeamTwo}}
        {{#if this.name}}
          <li class="list-group-item border border-primary-subtle rounded">{{this.name}}</li>
        {{else}}
          Team Rate: {{this}}
        {{/if}}
      {{/each}}
      </ul>
    </div>
  </div>  
  <a href="/team/{{id}}"><button type="button" class="btn btn-secondary">
    Back to Team
  </button></a>


  <form action="/team/{{id}}/starred" method="POST">
    {{#each randomTeams.finalTeamOne}}
      {{#if this.name}}
        <input hidden type="textarea" name="playerNameOne" value="{{this.name}}">
        <input hidden type="textarea" name="emailOne" value="{{this.email}}">
        <input hidden type="textarea" name="rateOne" value="{{this.rate}}">
      {{else}}
        <input hidden type="textarea" name="teamOneRate" value="{{this}}">
      {{/if}}
    {{/each}}
    {{#each randomTeams.finalTeamTwo}}
      {{#if this.name}}
        <input hidden type="textarea" name="playerNameTwo" value="{{this.name}}">
        <input hidden type="textarea" name="emailTwo" value="{{this.email}}">
        <input hidden type="textarea" name="rateTwo" value="{{this.rate}}">
      {{else}}
        <input hidden type="textarea" name="teamOneTwo" value="{{this}}">
      {{/if}}
    {{/each}}
    <button type="submit">Save team</button>
  </form>

</div>
