<div class="container add-players mt-0 pt-3">
  <h2>{{name}}</h2>

  <div class="mt-3 player-details-buttons-list w-50 d-flex flex-row- justify-content-start align-items-center">
    {{!-- Button and Modal to Generate Random teams --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn secondButton btn-warning me-3 bi-shuffle" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Shuffle Teams
    </button>
    <!-- Modal Generate Random Team-->
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Random Teams</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Select the players
            <form action="/team/generate/{{id}}" method="POST">

              {{#each players}}
                <input type="checkbox" name="playername" value="{{id}}" class="btn-check" id="btn-check-outlined-{{name}}" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined-{{name}}">{{name}}</label><br>
              {{/each}}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Generate Teams</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{!--Show stared teams --}}
    <button class="btn secondButton btn-warning me-3 bi-star" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Saved Teams
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Starred Teams</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
            {{#each starred}}
              <div class="accordion" id="accordionExample">
                <div class="accordion-item ">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed players-list-accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{this}}">
                    See player
                    </button>
                  </h2>
                  <div id="{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body players-list-accordion-body">
                      <h6>Team one:</h6>
                      {{#each OneTeam}}
                        {{name}}  
                      {{/each}}
                      <hr>
                      <h6>Team Two:</h6>
                      {{#each TwoTeam}}
                        {{name}}  
                      {{/each}}
                      <hr>
                      <form action="/team/{{../_id}}/removeStarred" method="POST">
                        <input type="text" hidden name="startedTeamID" value="{{id}}">
                        <button type="submit" class="btn btn-light"><span class="bi-trash"></span></button>
                      </form>
                      </div>
                    </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
    </div>
    {{!--ENDstared teams --}}
    
    <form action="/team/{{_id}}/delete" method="POST">
      <a href="/team/{{id}}"><button type="submit" class="btn btn-danger"><span class="bi-trash"></span></button></a>
    </form>   
  </div>

  {{!-- Show players of the team --}}
  <h4 class="mt-4">Players</h4>

  <div class="row gap-4">
    {{#if players}}
      {{#each players}}
      <div class="border rounded players-cards" style="width: 12rem;">
        <h5 class="d-inline">{{name}}</h5>
        <button class="btn bi-three-dots-vertical" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{_id}}" aria-expanded="false" aria-controls="collapseExample{{_id}}">
        </button>
        <div class="card card-body collapse border-0" id="collapseExample{{_id}}">
          <p class="card-text">
            <b>Email:</b> {{email}} 
            <b>Rating:</b> {{rate}}
            <form action="/team/{{../_id}}/delete-player/{{_id}}" method="POST">
              <button type="submit" class="btn bi-trash"></button>
            </form>
          </p>
      </div>
    </div>
      {{/each}}
    {{else}}
      <p>Add the first player</p>
    {{/if}}
  </div>

  <div class="container-fluid d-flex flex-row-reverse fixed-bottom">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success p-2 fs-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <span class="bi-plus-circle"></span> Add Player
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Player</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/team/{{id}}" method="POST">

      <div class="form-floating mb-3">
        <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
        <label for="floatingInput">Name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
        <label for="floatingInput">Rating</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Add Player</button>
     </div>
      
    </form>
    </div>
  </div>
</div>
  {{!-- V0 Add player to team --}}
  {{!-- <div class="row mt-5">
    <h4>Add Players to the team</h4>
    <form action="/team/{{id}}" method="POST">

      <div class="form-floating mb-3">
        <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
        <label for="floatingInput">Name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
        <label for="floatingInput">Rating</label>
      </div>
      <button type="submit" class="btn btn-success">Add Player</button>  
    </form>
  </div> --}}

  {{!-- <div class="row add-players-form">
    <div class="col-sm">
      <h4>Players</h4>
      {{#if players}}
        {{#each players}}
          <div class="accordion" id="accordionExample">
            <div class="accordion-item ">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed players-list-accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">
                  {{name}}
                </button>
              </h2>
              <div id="{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body players-list-accordion-body">
                  <b>Email:</b> {{email}}
                  <b>Rating:</b> {{rate}}

                  <form action="/team/{{../_id}}/delete-player/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>Add the first player</p>
      {{/if}}
    </div> --}}

    {{!-- <div class="col-sm">
      <h4>Add Players to the team</h4>
      <form action="/team/{{id}}" method="POST">

        <div class="form-floating mb-3">
          <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Rating</label>
        </div>
        <button type="submit" class="btn btn-success">Add Player</button>  
      </form>
    </div> --}}
  {{!-- </div> --}}

</div>
