<h2>Team {{name}}</h2>


<h3>Players</h3>
{{#if players}}
  {{#each players}}
  <p>Name:{{name}} Email{{email}} Rating: {{rate}}</p>
  <hr>
{{/each}}
{{else}}
<p>Add the first player</p>
{{/if}}


<h3>Add Players</h2>

<form action="/team/{{id}}" method="POST">
  <label>Name</label>
  <input type="text" name="playerName">

  <label>Email</label>
  <input type="email" name="email">

  <label>Rate</label>
  <input type="number" name="rate" min="1" max="10">

  <button type="submit">Add Player</button>
</form>
