<div class="container teams-list ">
  
  <div class="row d-flex flex-column align-content-center justify-content-center">
    {{#each finalList}}
      <div class="shadow-sm border-light rounded card w-75 list-group list-group-horizontal-md list-group-item-action mb-3">
          <div class="card-body d-inline-flex p-5 w-100 flex-row- justify-content-around align-items-center">
            <h3 class="card-title w-25 m-0 d-inline flex-grow-2">{{name}}</h3>
            <span class="bi-calendar3"></span> Next Game</span> <p>{{gameFormatted}}</p>
            <a href="/game/gameID" class="btn btn-light"><span class="bi-calendar-plus"></span> Schedule Game</span></a>
            <a href="/team/{{_id}}"><button type="button" class="btn secondButton btn-warning text-warning-emphasis"><span class="bi-gear-fill"></span> Manage</button></a>
            <form action="/team/{{_id}}/delete" class="d-inline"method="POST">
              <a href="/team/{{_id}}"><button type="submit" class="btn btn-warning secondButton text-warning-emphasis"><span class="bi-trash"></span></button></a>
            </form>
          </div>
      </div>
    {{/each}}
  </div>

</div>

<div class="container-fluid d-flex flex-row-reverse create-team-list fixed-bottom">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning p-2 create-team-button fs-5 secondButton text-warning-emphasis" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <span class="bi-plus-circle"></span>
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/teams/create" method="POST">
      <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="FC Barcelona">
            <label for="floatingInput">Name</label>
          </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning secondButton text-warning-emphasis" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning secondButton text-warning-emphasis">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

