<div class="container card teamCard">
  <h2 class="text-center">{{name}}</h2>

  {{!-- Show players of the team --}}
  <h5 class="mt-4">
    PLAYERS
    <button type="button" class="btn btn-warning addButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <span class="bi bi-person-add cardInsideSchedule"></span>
    </button>
  </h5>

  <div class="row gap-4 row-cols-6">
    {{#if players}}
      {{#each players}}
      <div class="col playerCard">
        <div class="border rounded players-details">
          <h6 class="d-inline playerName">{{name}}</h6>
          {{!-- Button and Modal to Get more info about players --}}
          <!-- Button trigger modal -->
          <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modal{{name}}">
            <span class="bi-plus-circle"></span>
          </button>
        </div>
          <!-- Modal more info about players -->
          <div class="modal fade" data-bs-backdrop="static" id="modal{{name}}" tabindex="-1" aria-labelledby="modalLabel{{name}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modalLabel{{name}}"><b>{{name}}</b></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="card-text">
                      <b>Email:</b> {{email}}
                    </p>
                    <p class="card-text">
                      <b>Rating: </b> {{rate}}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form action="/team/{{../_id}}/delete-player/{{_id}}" method="POST">
                      <button type="submit" class="btn bi-trash btn-warning secondButton"></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
      
      {{/each}}
    {{else}}
      <p>Add the first player</p>
    {{/if}}
  </div>

  <div class="mt-3 w-50 teamButtons">
    {{!-- Button and Modal to Generate Random teams --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn secondButton btn-warning text-warning-emphasis me-3 bi-shuffle" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Shuffle Teams
    </button>
    <!-- Modal Generate Random Team-->
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Select Players</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body modal-body-centered">
            <form action="/team/generate/{{id}}" method="POST">
              {{#each players}}
                  <input type="checkbox" name="playername" value="{{id}}" class="btn-check" id="btn-check-outlined-{{name}}" autocomplete="off">
                  <label class="btn btn-outline-warning text-warning-emphasis playerButton" for="btn-check-outlined-{{name}}">{{name}}</label>
              {{/each}}
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning text-warning-emphasis secondButton" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-warning text-warning-emphasis secondButton" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Generate Teams</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{!--Show stared teams --}}
    <button class="btn secondButton btn-warning text-warning-emphasis me-3 bi-star" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStarred" aria-controls="offcanvasStarred">
      Saved Teams
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStarred" aria-labelledby="offcanvasStarredLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasStarredLabel">Starred Teams</h5>
        <button type="button" class="btn-close btn-warning text-warning-emphasis secondButton" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
            {{#each starred}}
              <div class="accordion pb-3" id="accordionExample">
                <div class="accordion-item about-card">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed players-list-accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{this}}">
                    See players
                    </button>
                  </h2>
                  <div id="{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body players-list-accordion-body border border-warning-subtle">
                        <h6>Team one:</h6>
                        {{#each OneTeam}}
                          {{name}}  
                        {{/each}}
                        <hr>
                        <h6>Team Two:</h6>
                        {{#each TwoTeam}}
                          {{name}}  
                        {{/each}}
                      <form class="pt-2" action="/team/{{../_id}}/removeStarred" method="POST">
                        <input type="text" hidden name="startedTeamID" value="{{id}}">
                        <button type="submit" class="btn bi-trash btn-warning secondButton"></button>
                      </form>
                      </div>
                    </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
    </div>
    {{!--ENDstared teams --}}
    
    <form action="/team/{{_id}}/delete" method="POST">
      <a href="/team/{{id}}"><button type="submit" class="btn btn-warning secondButton text-warning-emphasis"><span class="bi-trash"></span></button></a>
    </form>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Player</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/team/{{id}}" method="POST">

        <div class="form-floating mb-3">
          <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Rating</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning secondButton text-warning-emphasis" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-warning secondButton text-warning-emphasis">Add Player</button>
      </div>
        
      </form>
      </div>
    </div>
  </div>
</div>
