<div class="container add-players">
  <h2>{{name}}</h2>

  <form action="/team/{{_id}}/delete" method="POST">
    <a href="/team/{{id}}"><button type="submit" class="btn btn-danger"><span class="bi-trash"></span>  Delete Team</button></a>
  </form>

  {{!-- Form to show players of the team --}}
  <div class="row add-players-form">
    <div class="col-sm">
      <h4>Players</h4>
      {{#if players}}
        {{#each players}}
          <div class="accordion" id="accordionExample">
            <div class="accordion-item ">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed players-list-accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">
                  {{name}}
                </button>
              </h2>
              <div id="{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body players-list-accordion-body">
                  <b>Email:</b> {{email}}
                  <b>Rating:</b> {{rate}}

                  <form action="/team/{{../_id}}/delete-player/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>Add the first player</p>
      {{/if}}
    </div>

    <div class="col-sm">
      <h4>Add Players to the team</h4>
      <form action="/team/{{id}}" method="POST">

        <div class="form-floating mb-3">
          <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Rating</label>
        </div>
        <button type="submit" class="btn btn-success">Add Player</button>  
      </form>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Generate Random Teams
  </button>

  <!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Random Teams</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Select the players
          <form action="/team/generate/{{id}}" method="POST">

            {{#each players}}
              <input type="checkbox" name="playername" value="{{id}}" class="btn-check" id="btn-check-outlined-{{name}}" autocomplete="off">
              <label class="btn btn-outline-primary" for="btn-check-outlined-{{name}}">{{name}}</label><br>
            {{/each}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Generate Teams</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
