<div class="container">
  <h2>{{name}}</h2>

  <div class="row add-players-form">
    <div class="col-sm">
      <h4>Players</h4>
      {{#if players}}
        {{#each players}}
          <div class="accordion" id="accordionExample">
            <div class="accordion-item ">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed players-list-accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">
                  {{name}}
                </button>
              </h2>
              <div id="{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body players-list-accordion-body">
                  <b>Email:</b> {{email}}
                  <b>Rating:</b> {{rate}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>Add the first player</p>
      {{/if}}
    </div>

    <div class="col-sm">
      <h4>Add Players to the team</h4>
      <form action="/team/{{id}}" method="POST">

        <div class="form-floating mb-3">
          <input type="text" name="playerName" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" name="rate" min="1" max="10" class="form-control" id="floatingInput" placeholder="John Doe">
          <label for="floatingInput">Rating</label>
        </div>
        <button type="submit" class="btn btn-success">Add Player</button>  
      </form>
    </div>
  </div>
</div>